<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>About</title>
</head>
<div class="nav">
    <a id="home" href="/home">HOME</a>
    <a id="about" href="/about">ABOUT</a>
    <a id="work" href="/work">WORK</a>
    <a id="photo-gallery" href="/photo-gallery">PHOTO GALLERY</a>
</div>
<body>
    <h1 id="h1-about">About</h1>
    <div class="p-about">
        <p id="p2">David Schwartz aka "JoelKatz", is a blockchain developer and one of the original architects of the XRP ledger. Currently CTO at Ripple, his main goal is to improve global settlement with blockchain tech.</p> 

        <p id="p2">Skilled in assisting companies with strategic planning in emerging technologies such as distributed payment systems and secure computing. He's expertised in cryptography, computer security and software development particulary for startups and quickly-growing, small companies.
        </p>

        <p id="p2">"JoelKatz" has a master degree in Eletrical Engineering at the University of Houston. Has worked for several different companies helping them to manage and improve their internal systems. David has also helped to bring the first Integrated Services Digital Network (ISDN) to South Florida. Nowadays, he's been working as a CTO of Ripple, leading a world-class group of engineers, scientists and business executives growing a global network of financial institutions using blockchain-based solutions to remove friction from global payments.</p>
    </div>
</body>
</html>