<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Home</title>
</head>
<div class="nav">
    <a id="home" href="/home">HOME</a>
    <a id="about" href="/about">ABOUT</a>
    <a id="work" href="/work">WORK</a>
    <a id="photo-gallery" href="/photo-gallery">PHOTO GALLERY</a>
</div>
<body>
    <!-- <img src="/images/david-pp.jpg" alt="david-pp" id="david-pp"> -->
    <div class="welcome">
        <h1 id="h1-home">Hello, there. Welcome to David's World!</h1>
        <p id="p1">On this Web Page you will discover more about David "JoelKatz" Schwartz and what he's been doing to improve the global financial system.</p>
    </div>
</body>
</html>