<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Work</title>
</head>
<div class="nav">
    <a id="home" href="/home">HOME</a>
    <a id="about" href="/about">ABOUT</a>
    <a id="work" href="/work">WORK</a>
    <a id="photo-gallery" href="/photo-gallery">PHOTO GALLERY</a>
</div>
<body>
    <h1 id="h1-work">Work</h1>

    <p id="p3"> <b>David Schwartz has a huge background in his field of work. Here's a little list of them:</b></p>
    <ul>
        <div id="work1">
        <li><b>David Schwartz Enterprises</b><br>
            jan 1988 - jan 1991 <br>
            Invented a hierarchical system for distributing workloads over multiple computers.
        </li>
        <br>
        <li><b>RE/MAX - Software Developer</b><br>
            jan 1991 - jan 1992 <br>
            Conceived and developed a system to analyze public property records and identify houses that were the most likely to be over-assessed and entitled to property tax reductions.
        </li>
        <br>
        <li><b>Partner at Cardiophonics</b><br>
            Jan 1992 - jan 1995 <br>
            Co-founder of a medical device manufacturing company that developed, manufactured, and sold a noninvasive medical device to provide objective measurements of the presence and severity of heart murmurs and related conditions.
        </li>
        <br>
        <li><b>Director of Network Services</b><br>
            jan 1995 - jan 1996 <br>
            Planned and managed a regional service provider network. Helped bring the first ISDN service to South Florida.
        </li>
    </div>
    <div id="work2">
        <li><b>Senior Network Engineer</b><br>

            jan 1996 - jan 1998 <br>
            Supervised the design, implementation, and deployment of a regional network and a large document scan, index, search and retrieval system.
        </li>
        <br>
        <li><b>WebMaster Incorporated - Chief Technical Officer</b><br>
            Jan 2001 - jan 2011 <br>
            Overseeing research, development and technical operations. Primary architect of cloud-based storage system ("DriveShare")
        </li>
        <br>
        <li><b>CTO at Ripple</b><br>
            jul 2018 - now <br>
            Leading a world-class group of engineers, scientists and business executives growing a global network of financial institutions using blockchain-based solutions to remove friction from global payments.
        </li>
    </div>
    </ul>
    
</body>
</html>